<div>
  <div>{{'id: '}} {{user.id}}</div>
  <div>{{'name: '}} {{user.name}}
<!--  <p>{{'username: '}} {{user.username}}</p>-->
  {{'email: '}} {{user.email}}</div>
<!--  <p>{{'address: '}} {{user.address.street}}</p>-->
<!--  <p>{{'suite: '}} {{user.address.suite}}</p>-->
<!--  <p>{{'city: '}} {{user.address.city}}</p>-->
<!--  <p>{{'zipcode: '}} {{user.address.zipcode}}</p>-->
<!--  <p>{{'lat: '}} {{user.address.geo.lat}}</p>-->
<!--  <p>{{'lng: '}} {{user.address.geo.lng}}</p>-->
<!--  <p>{{'phone: '}} {{user.phone}}</p>-->
<!--  <p>{{'website: '}} {{user.website}}</p>-->
<!--  <p>{{'name: '}} {{user.company.name}}</p>-->
<!--  <p>{{'catchPhrase: '}} {{user.company.catchPhrase}}</p>-->
<!--  <p>{{'bs: '}} {{user.company.bs}}</p>-->
  <div>{{'****************************************'}}</div>
  <button (click)="navTo(user.id)">Click here</button>
</div>
